_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.vscode
vendor/bundle
.Gemfile.*~
Gemfile~
node_modules/
package-lock.json
package.json
./assets/images/*.kra~
./assets/images/*.kra
./assets/images/*.*~
