<div class="accordion" id="accordion">
    {% for item in page.accordian %}
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed fs-4 honk-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ forloop.index }}" aria-expanded="false" aria-controls="flush-collapse-{{item.id}}">
                {{ item.header }}
                </button>
            </h3>
            <div id="flush-collapse-{{ forloop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <div class="accordion-body">

                    {% if item.content.data %}
                        {% include _accordian_text_data.html %}
                    {% endif %}

                    {% if item.content.title %}
                        <h4>{{ item.content.title }}</h4>
                    {% endif %}
                    {% if item.content %}
                        <p>{{ item.content }}</p>
                    {% endif %}

                    {% for content in item.contents %}
                        {% if content.para %}
                            {% for para in content.para %}
                                <p>{{ para }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
