<div class="accordion " id="accordion_one">
    {% for item in page.accordian %}
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{item.id}}" aria-expanded="false" aria-controls="flush-collapse-{{item.id}}">
                {{ item.header }}
                </button>
            </h3>
            <div id="flush-collapse-{{ item.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion_one">
                <div class="accordion-body">{{ item.content }}</div>
            </div>
        </div>
    {% endfor %}
</div>
