<div class="accordion " id="accordion_{{ include.id }}">
    {% for accord in page.accordians %}
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ include.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ include.id }}-{{ accord.id }}">
                {{ accord.accordian[forloop.index0].header }}
                </button>
            </h3>
            <div id="flush-collapse-{{ include.id }}-{{ accord.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion_-{{ include.id }}">
                <div class="accordion-body">
                    {% if accord.accordian[forloop.index0].content %}
                        <p>{{ accord.accordian[forloop.index0].content }}</p>
                    {% endif %}

                    {% for content in accord.accordian[forloop.index0].contents %}
                        {% if content.para %}
                            {% for para in content.para %}
                                <p>{{ para }}</p>
                            {% endfor %}
                        {% endif %}

                        {% if content.list %}
                            <ul>
                                {% for item in content.list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
