<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Patricia Urdzik | UX Researcher</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Patricia Urdzik | UX Researcher</li><li><a class="u-email" href="mailto:info@trishurdzik.com">info@trishurdzik.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/patriciaurdzik">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">patriciaurdzik</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text-center text-muted">Site by <a href="https://hepaestus.com">Hepaestus Consulting</a></p>              
      </div>
    </div>

  </div>

</footer>
