<script>
// <!-- Jquery Ready statement -->
var output = "";
$(document).ready(function() {
  $("h3,h4").each(function() {
    if ( $(this).attr('id') != "contents-col" ) {
      $(this).wrapInner('<a name="' + $(this).text() + '" />');
      output += "<li class='my-2'><a class='contents-list-anchor' href='#" + $(this).text() + "'>" + $(this).text() + "</a></li>";    
    }
    $("#contents-list").html(output);
  });
});
</script>

<h4 id="contents-col" class="mt-0 pt-0">Contents:</h4>
<ul id="contents-list" class="m-0 p-0"></ul>

