---
layout: null
---

@import "main";
@import "bootstrap-theme";
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Bangers&family=Birthstone&family=Caramel&family=Dongle&family=Eagle+Lake&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Explora&family=Genos:ital,wght@0,100..900;1,100..900&family=Honk&family=IM+Fell+Double+Pica:ital@0;1&family=Jockey+One&family=Mada:wght@200..900&family=Markazi+Text:wght@400..700&family=Mina:wght@400;700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Nova+Square&family=Nuosu+SIL&family=Orbitron:wght@400..900&family=Oxygen:wght@300;400;700&family=Ramaraja&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Scope+One&family=Special+Elite&family=Tillana:wght@400;500;600;700;800&family=Tulpen+One&family=Uncial+Antiqua&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body {
  background: {{ site.background_color }} !important;
  color: white !important;
}

a.heading-anchor {
  text-decoration: none;
}

h1 {
  font-family: "Honk", serif;
  font-weight:900;
  font-style:regular;
  font-size: 300;
}

h2 {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 300%;
}

h3 {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 200%;
}

h5 {
  font-family: "Honk", sans-serif;
  font-weight: 200;
  font-style: regular;
  font-size: 200%;
}

#contents-list-div {
  position: sticky;
  padding: 10px;
  overflow: auto;
  background-color: #f1f1f1;
}

#contents-list {
  list-style-type: none;  
}

p, label {
  font-family: "Genos", sans-serif;
  font-style: normal;
  font-size: 115%;
}

.card, .accordian, .accordian-header, .accordian-body { 
  background-color: #91989c; 
}

h2.post-title {
  font-family: "Honk", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 300%;
}

h3.post-content {
  font-family: "Tulpen One", serif;
  font-weight: 900;
  font-style: bold;
  font-size: 100%;

}

.solutions-card {
  background-color: #cccccc;
}

.solutions-card h3.card-header {
    font-family: "Tulpen One", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 200%;
    color: white;
}

.solutions-card h4.card-title {
    //font-family: "Genos", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 100%;
}

/* header, body, footer, h1, h2, h3, h4, h5, h6, p, a, li, span, div, input, button, label, select, textarea {
  
}*/

header, footer, #contents-list-div, div.modal-content{
  background: #008885 !important;
}

.card-header {
  background-color: #008885 !important;
}

.solutions-card {
  border-radius: 10px 10px;
  margin: 10px;
  width: 18rem;
}

h3.accordian-header button.accordian-button {
  font-family: "Tulpen One", serif;
  font-weight: boldest;
  font-size: 400%;
}

.footer-nav .nav-link {
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.attribution {
  font-size: x-small;
}

pre.highlight {
  margin: 5px 5px 20px 5px;
  padding: 5px 0 0 15px;
  background-color: #f1f1f1 !important;
  border-radius: 20px;
}

code {
  line-height: 175% !important;
}

code span.na {
  font-weight: bold !important;
 }

.task-list {
  list-style-type: none;
  padding-left: 3px;
}
input.task-list-item-checkbox {
  margin-right: 7px;
 }

#contents-list li {
  list-style-type: none;
}

a.contents-list-anchor {  
  text-decoration: none;
}


.portfolio-card {
  margin : 10px;
  background-color: #008885 !important;
  border-radius: 10px 10px;
  margin: 15px;
  width: 40%;
}



.rubik-glitch-regular {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
}

.babylonica-regular {
  font-family: "Babylonica", serif;
  font-weight: 400;
  font-style: bold;
}

.honk-bold {
  font-family: "Honk", serif;
  font-weight: 900;
  font-style: bold;
}

.teko {
  font-family: "Teko", serif;
  font-weight: 400;
  font-style: bold;
}

.genos-bold {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
}

.tulpen-one-regular {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200;
}

div.git_build_data, div.git_build_data span {
  color: {{ site.git_build_data_color }} !important;
}





@media screen and (max-width: 800px) and (orientation: portait) {
  #header_title {
    font-size: 50%;
  }

  #contents-list-div {
    position: inherit;
  }
}

media print {
  header, body, footer, h1, h2, h3, h4, h5, h6, p, a, li, span, div, input, button, label, select, textarea {
    color: black !important;
  }
}

